<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ketopi.app"
	android:versionCode="1"
	android:versionName="Alpha" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.GET_TASKS" />

	<supports-screens
		android:largeScreens="false"
		android:normalScreens="true"
		android:smallScreens="false" />

	<application android:label="@string/app_name" >

		<!-- Start of Crittercism.com Code -->
		<activity android:name="com.crittercism.NotificationActivity" />
		<!-- End of Crittercism.com Code -->
		<activity
			android:name=".SearchActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>